<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TheBestBarberShop Pet Project</title>
    <meta name="author" content="Süli János">
    <meta name="description" content="BarberShop pet project with Spring, Tailwind and PostgreSQL">
    <meta name="keywords" content="">
    <link href="https://unpkg.com/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
    <!--Replace with your tailwind.css once created-->

    <style>
		@import url('https://fonts.googleapis.com/css?family=Quicksand');
		::selection{background-color: aliceblue}
		.font-serif{font-family : 'Quicksand', sans-serif;}
		.smooth {
				transition: box-shadow 0.3s ease-in-out;
			}


    </style>

</head>
<body class="bg-white font-sans leading-normal tracking-normal">

<!--Nav-->
<nav class="bg-indigo-900 p-4 mt-0 w-full">
    <div class="container mx-auto flex items-center">
        <svg class="h-6 w-6 text-yellow-500" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
             stroke-linecap="round" stroke-linejoin="round">
            <path d="M14 9V5a3 3 0 0 0-3-3l-4 9v11h11.28a2 2 0 0 0 2-1.7l1.38-9a2 2 0 0 0-2-2.3zM7 22H4a2 2 0 0 1-2-2v-7a2 2 0 0 1 2-2h3"/>
        </svg>
        <div class="flex text-white font-extrabold">
            <span class="hidden w-0 md:w-auto md:block pl-1">Norian Barberia</span>
        </div>

        <div class="flex pl-4 text-sm">
            <ul class="list-reset flex justify-between flex-1 md:flex-none items-center">
                <li class="mr-2">
                    <a class="inline-block py-2 px-2 text-white no-underline" href="/">HOME</a>
                </li>
                <li class="mr-2">
                    <a class="inline-block text-yellow-400 no-underline hover:text-yellow-200 hover:text-underline py-2 px-2"
                       href="#introductions">INTRODUCTION</a>
                </li>
                <li class="mr-2">
                    <a class="inline-block text-yellow-400 no-underline hover:text-yellow-200 hover:text-underline py-2 px-2"
                       href="#barbers">BARBERS</a>
                </li>
                <li class="mr-2">
                    <a class="inline-block text-yellow-400 no-underline hover:text-yellow-200 hover:text-underline py-2 px-2"
                       href="#prices">PRICE</a>
                </li>
                </li>
                <li class="mr-2">
                    <a class="inline-block text-yellow-400 no-underline hover:text-yellow-200 hover:text-underline py-2 px-2"
                       href="#bookings">BOOKING</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!--slide in nav-->
<div id="header" class="bg-white fixed w-full z-10 top-0 hidden animated" style="opacity: .95;">
    <div class="bg-white">
        <div class="flex flex-wrap items-center content-center">
            <div class="flex w-1/2 justify-start text-white font-extrabold">
                <svg class="h-6 w-6 text-yellow-500" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                     stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M14 9V5a3 3 0 0 0-3-3l-4 9v11h11.28a2 2 0 0 0 2-1.7l1.38-9a2 2 0 0 0-2-2.3zM7 22H4a2 2 0 0 1-2-2v-7a2 2 0 0 1 2-2h3"/>
                </svg>
                <a class="flex text-gray-900 no-underline hover:text-gray-900 hover:no-underline pl-2" href="/">
                    <span class="hidden w-0 md:w-auto md:block pl-1">Norian Barberia</span>
                </a>
            </div>
            <div class="flex w-1/2 justify-end content-center">
                <p class="hidden sm:block mr-3 text-center h-14 p-4 text-xs"><span class="pr-2">Share this</span></p>
                <a class="inline-block text-white no-underline hover:text-white hover:underline text-center h-10 w-10 p-2 md:h-auto md:w-16 md:p-4"
                   href="https://twitter.com/intent/tweet?url=#" style="background-color:#33b1ff;">
                    <svg class="fill-current text-white h-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                        <path d="M30.063 7.313c-.813 1.125-1.75 2.125-2.875 2.938v.75c0 1.563-.188 3.125-.688 4.625a15.088 15.088 0 0 1-2.063 4.438c-.875 1.438-2 2.688-3.25 3.813a15.015 15.015 0 0 1-4.625 2.563c-1.813.688-3.75 1-5.75 1-3.25 0-6.188-.875-8.875-2.625.438.063.875.125 1.375.125 2.688 0 5.063-.875 7.188-2.5-1.25 0-2.375-.375-3.375-1.125s-1.688-1.688-2.063-2.875c.438.063.813.125 1.125.125.5 0 1-.063 1.5-.25-1.313-.25-2.438-.938-3.313-1.938a5.673 5.673 0 0 1-1.313-3.688v-.063c.813.438 1.688.688 2.625.688a5.228 5.228 0 0 1-1.875-2c-.5-.875-.688-1.813-.688-2.75 0-1.063.25-2.063.75-2.938 1.438 1.75 3.188 3.188 5.25 4.25s4.313 1.688 6.688 1.813a5.579 5.579 0 0 1 1.5-5.438c1.125-1.125 2.5-1.688 4.125-1.688s3.063.625 4.188 1.813a11.48 11.48 0 0 0 3.688-1.375c-.438 1.375-1.313 2.438-2.563 3.188 1.125-.125 2.188-.438 3.313-.875z"></path>
                    </svg>
                </a>
                <a class="inline-block text-white no-underline hover:text-white hover:underline text-center h-10 w-10 p-2 md:h-auto md:w-16 md:p-4"
                   href="https://www.facebook.com/sharer/sharer.php?u=#" style="background-color:#005e99">
                    <svg class="fill-current text-white h-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                        <path d="M19 6h5V0h-5c-3.86 0-7 3.14-7 7v3H8v6h4v16h6V16h5l1-6h-6V7c0-.542.458-1 1-1z"></path>
                    </svg>
                </a>
            </div>
        </div>

    </div>
    <!--Progress bar-->
    <div id="progress" class="h-1 bg-white shadow"
         style="background:linear-gradient(to right, #4dc0b5 var(--scroll), transparent 0);"></div>
</div>

<!--Title-->
<div class="text-center pt-16 md:pt-32">
    <p class="text-sm md:text-base text-teal-500 font-bold">in Szeged<span class="text-gray-900"></span></p>
    <h1 class="font-bold break-normal text-3xl md:text-5xl">Norian Barberia</h1>
</div>

<!--image-->
<div class="container w-full max-w-6xl mx-auto bg-white bg-cover mt-8 rounded"
     style="background-image:url('img/logo.png'); height: 75vh;"></div>


<!--Container-->
<a name="introductions">
    <div class="container max-w-5xl mx-auto -mt-32">

        <div class="mx-0 sm:mx-6">

            <div class="bg-white w-full p-8 md:p-24 text-xl md:text-2xl text-gray-800 leading-normal shadow-md m-5">

                <!--Post Content-->


                <!--Lead Para-->

                <p class="font-serif">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ut sapien ante. Praesent ultricies
                    nibh
                    at malesuada imperdiet. Mauris ultrices urna ac suscipit iaculis. Donec pulvinar pretium massa
                    congue
                    venenatis. Phasellus a pretium velit. Praesent massa mi, dictum quis ultrices sit amet, fermentum et
                    justo. Maecenas a ligula et nisl auctor ultricies. Nulla facilisi. <br><br>

                    Etiam volutpat a neque sed hendrerit. Nullam sed orci sagittis, commodo ligula a, vulputate ipsum.
                    Vivamus quis neque volutpat, luctus felis eget, ultricies mauris. Proin ac dolor quis tortor
                    vulputate
                    gravida et in tellus. Phasellus ullamcorper arcu orci, in varius enim finibus ut. Aliquam lectus
                    augue,
                    porttitor convallis hendrerit ac, tempus non enim. Maecenas volutpat suscipit neque, et egestas
                    velit
                    hendrerit in. Nam ut purus eget elit finibus finibus. Praesent non tortor dapibus, pharetra ante a,
                    aliquam ipsum. Aliquam condimentum tristique est, ac porttitor lacus vehicula nec. Curabitur
                    ullamcorper
                    varius mi a sagittis. Cras pellentesque mi quis libero consequat, cursus ultricies lorem volutpat.
                    Curabitur in aliquam elit.
                    <!--/ Post Content-->

            </div>

        </div>

    </div>
</a>


<div class="bg-gray-200">
    <a name="barbers">
        <div class="container w-full max-w-6xl mx-auto px-2 py-8">
            <div class=" flex flex-wrap -mx-2">
                <div v-for="item in content " class="w-full md:w-1/3 px-2 pb-12">
                    <div class=" bg-white rounded shadow-md hover:shadow-lg relative smooth">
                        <div class="p-4">
                            <img class="rounded-full mr-4" src="img/barberJack.jpg" alt="Avatar">
                        </div>
                        <div class="p-6 h-auto ">
                            <p class="text-gray-600 text-xs md:text-sm">barber</p>
                            <div class="font-bold text-xl text-gray-900">Jack Doe</div>
                            <p class="text-gray-800 font-serif text-base mb-5">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vel turpis elit. Phasellus
                                varius ac enim et pretium. Nulla ultrices malesuada quam, nec maximus urna rhoncus ac.
                                Fusce
                                nec euismod sem. Curabitur quam purus, ornare a turpis a, ornare pulvinar mauris. Donec
                                eget
                                lobortis lorem. Curabitur quis est tristique, congue lacus vitae, iaculis mauris. Aenean
                                eget ligula placerat, cursus tortor quis, pellentesque risus. Cras rutrum mauris justo,
                                et
                                tempor enim efficitur vitae. Sed sit amet nibh gravida, fermentum leo vel, sagittis
                                dolor.
                                Nullam felis tellus, hendrerit vel consequat ac, varius ut metus. Fusce urna metus,
                                ultrices
                                vitae nulla nec, efficitur maximus dui. In tincidunt, nibh ut consequat finibus, metus
                                risus
                                consequat nisl, quis convallis sem nibh sed nisi. Vestibulum ante ipsum primis in
                                faucibus
                                orci luctus et ultrices posuere cubilia curae; Mauris ac ex dolor.
                            </p>
                        </div>
                    </div>
                </div>
                <div v-for="item in content " class="w-full md:w-1/3 px-2 pb-12">
                    <div class=" bg-white rounded shadow-md hover:shadow-lg relative smooth">
                        <div class="p-4">
                            <img class="rounded-full mr-4" src="img/barberMonica.jpg" alt="Avatar">
                        </div>
                        <div class="p-6 h-auto ">
                            <p class="text-gray-600 text-xs md:text-sm">barber</p>
                            <div class="font-bold text-xl text-gray-900">Monica Doe</div>
                            <p class="text-gray-800 font-serif text-base mb-5">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce pulvinar rhoncus ipsum.
                                Etiam
                                eleifend odio at est laoreet, sit amet auctor mi consectetur. Aliquam dignissim bibendum
                                mi,
                                id mattis nibh tincidunt a. Sed vulputate luctus justo sed luctus. Morbi scelerisque
                                lorem
                                et fermentum auctor. Nulla ac nisl orci. Nullam mauris magna, aliquam sed pharetra
                                auctor,
                                facilisis suscipit ligula. Donec commodo, neque volutpat pharetra gravida, justo libero
                                fermentum augue, sed sollicitudin felis elit quis sapien. Pellentesque ullamcorper justo
                                vitae mattis facilisis. Aenean iaculis porta eros, eget feugiat libero mattis eu.
                                Quisque ut
                                commodo lorem, non facilisis massa. Quisque luctus malesuada sem. Suspendisse ultricies
                                nisi
                                non lacus elementum efficitur. Proin gravida rutrum lacus eget tristique. Mauris mauris
                                leo,
                                sodales quis enim eu, rutrum interdum sem.
                            </p>
                        </div>
                    </div>
                </div>
                <div v-for="item in content " class="w-full md:w-1/3 px-2 pb-12">
                    <div class=" bg-white rounded shadow-md hover:shadow-lg relative smooth">
                        <div class="p-4">
                            <img class="rounded-full mr-4" src="img/barberJane.jpg" alt="Avatar">
                        </div>
                        <div class="p-6 h-auto ">
                            <p class="text-gray-600 text-xs md:text-sm">barber</p>
                            <div class="font-bold text-xl text-gray-900">Jane Doe</div>
                            <p class="text-gray-800 font-serif text-base mb-5">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eget eros quis elit
                                ullamcorper facilisis id non odio. Ut aliquet tincidunt augue et egestas. Ut nibh velit,
                                dapibus et est eget, lacinia dictum ex. Curabitur semper arcu gravida, commodo elit
                                eget,
                                pulvinar magna. Etiam a nibh quis mi venenatis aliquam. Nam volutpat, nibh in laoreet
                                gravida, erat tortor rutrum dui, at mattis nunc nisl et nisi. In et egestas ipsum.
                                Quisque
                                elementum sem nec sollicitudin tempus. Curabitur venenatis sodales dolor vel pharetra.
                                Curabitur nec ipsum ac tortor venenatis ultricies.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </a>
</div>

<div class="bg-white">
    <a name="prices">
        <div class="container w-1/2 max-w-6xl mx-auto px-2 py-8">
            <div class="w-full px-2 pb-12">
                <div class="flex flex-auto bg-white rounded shadow-md hover:shadow-lg relative smooth">
                    <div class="p-6 h-auto mx-auto ">
                        <p class="text-gray-600 text-xs md:text-sm">price</p>
                        <div class="font-bold text-xl text-gray-900 mb-4">Barber Service</div>
                        <p class="text-gray-800 font-serif text-base mb-2">Haircut ... $0.00</p>
                        <p class="text-gray-800 font-serif text-base mb-2">Haircut, Children under 14 ... $0.00</p>
                        <p class="text-gray-800 font-serif text-base mb-2">Haircut with Beard Trim ... $0.00</p>
                        <p class="text-gray-800 font-serif text-base mb-2">Designer Haircut ... $0.00</p>
                        <p class="text-gray-800 font-serif text-base mb-2">Razor Cut ... $0.00</p>
                        <p class="text-gray-800 font-serif text-base mb-2">Beard Trim ... $0.00</p>
                        <p class="text-gray-800 font-serif text-base mb-2">Shave ... $0.00</p>
                        <p class="text-gray-800 font-serif text-base mb-2">Neck Shave ... $0.00</p>
                        <p class="text-gray-800 font-serif text-base mb-2">Shaving Whole Head ... $0.00</p>
                        <p class="text-gray-800 font-serif text-base mb-2">Shampoo (Plain) ... $0.00</p>
                        <p class="text-gray-800 font-serif text-base mb-2">Shampoo (Tonic) ... $0.00</p>
                        <p class="text-gray-800 font-serif text-base mb-2">Any Special Shampoo ... $0.00</p>
                        <p class="text-gray-800 font-serif text-base mb-2">Razor Honing (Each Blade) ... $0.00</p>
                        <p class="text-gray-800 font-serif text-base mb-2">Tonic, Hair Dressing or oils ... $0.00</p>
                    </div>
                    <div class="p-6 h-auto mx-auto ">
                        <p class="text-gray-600 text-xs md:text-sm">price</p>
                        <div class="font-bold text-xl text-gray-900 mb-4">Stylist Service</div>
                        <p class="text-gray-800 font-serif text-base mb-2">Haircut ... $0.00</p>
                        <p class="text-gray-800 font-serif text-base mb-2">Bang Trim ... $0.00</p>
                        <p class="text-gray-800 font-serif text-base mb-2">Wash and Style ... $0.00</p>
                        <p class="text-gray-800 font-serif text-base mb-2">Wash and Flatiron ... $0.00</p>
                        <p class="text-gray-800 font-serif text-base mb-2">Press and Curl ... $0.00</p>
                        <p class="text-gray-800 font-serif text-base mb-2">Up Do's ... $0.00</p>
                        <p class="text-gray-800 font-serif text-base mb-2">Twists ... $0.00</p>
                        <p class="text-gray-800 font-serif text-base mb-2">Cornrows ... $0.00</p>
                        <p class="text-gray-800 font-serif text-base mb-2">Deep Conditioning Treatment ... $0.00</p>
                        <p class="text-gray-800 font-serif text-base mb-2">Permanent Waves ... $0.00</p>
                        <p class="text-gray-800 font-serif text-base mb-2">Curl ... $0.00</p>
                        <p class="text-gray-800 font-serif text-base mb-2">Spiral Perms ... $0.00</p>
                        <p class="text-gray-800 font-serif text-base mb-2">Full Head Weaves ... $0.00</p>
                        <p class="text-gray-800 font-serif text-base mb-2">Half Head Weaves ... $0.00</p>
                    </div>
                </div>
            </div>
        </div>
    </a>
</div>

<div class="bg-gray-200">
    <a name="bookings">
        <form method="post" name="booking" th:action="@{/booking}"
              th:object="${reservation}">
            <div class="container w-full max-w-6xl mx-auto px-8 py-8">
                <div class="w-full px-2 pb-12">
                    <div class="flex flex-auto bg-white rounded shadow-md hover:shadow-lg relative smooth">
                        <div class="p-6 h-auto mx-auto ">
                            <p class="text-gray-600 text-xs md:text-sm">booking</p>
                            <div class="bg-white shadow rounded-lg p-6">
                                <div class="grid lg:grid-cols-3 gap-6">

                                    <div class="border focus-within:border-blue-500 focus-within:text-blue-500 transition-all duration-500 relative rounded p-1">
                                        <div class="-mt-4 absolute tracking-wider px-1 uppercase text-xs">
                                            <p>
                                                <label for="firstName" class="bg-white text-gray-600 px-1">First name
                                                    *</label>
                                            </p>
                                        </div>
                                        <p>
                                            <input id="firstName" name="customerFirstName"
                                                   th:field="*{customerFirstName}"
                                                   autocomplete="false" tabindex="0" type="text"
                                                   class="py-1 px-1 text-gray-900 outline-none block h-full w-full">
                                        </p>
                                    </div>
                                    <div class="border focus-within:border-blue-500 focus-within:text-blue-500 transition-all duration-500 relative rounded p-1">
                                        <div class="-mt-4 absolute tracking-wider px-1 uppercase text-xs">
                                            <p>
                                                <label for="lastname" class="bg-white text-gray-600 px-1">Last name
                                                    *</label>
                                            </p>
                                        </div>
                                        <p>
                                            <input id="lastname" name="lastname" th:field="*{customerLastName}"
                                                   autocomplete="false" tabindex="0" type="text"
                                                   class="py-1 px-1 outline-none block h-full w-full">
                                        </p>
                                    </div>
                                    <div class="border focus-within:border-blue-500 focus-within:text-blue-500 transition-all duration-500 relative rounded p-1">
                                        <div class="-mt-4 absolute tracking-wider px-1 uppercase text-xs">
                                            <p>
                                                <label for="email" class="bg-white text-gray-600 px-1">Email *</label>
                                            </p>
                                        </div>
                                        <p>
                                            <input id="email" name="email" th:field="*{customerEmail}"
                                                   autocomplete="false" tabindex="0" type="email"
                                                   class="py-1 px-1 outline-none block h-full w-full">
                                        </p>
                                    </div>
                                    <div class="border focus-within:border-blue-500 focus-within:text-blue-500 transition-all duration-500 relative rounded p-1">
                                        <div class="-mt-4 absolute tracking-wider px-1 uppercase text-xs">
                                            <p>
                                                <label for="barber" class="bg-white text-gray-600 px-1">Barber *</label>
                                            </p>
                                        </div>
                                        <p>
                                            <select id="barber" name="barber" th:field="*{bookedBarber}"
                                                    autocomplete="false" tabindex="0" type="text"
                                                    class="py-1 px-1 outline-none block h-full w-full">
                                                <option value="Jack Doe">Jack Doe</option>
                                                <option value="Monica Doe">Monica Doe</option>
                                                <option value="Jane Doe">Jane Doe</option>
                                            </select>
                                        </p>
                                    </div>
                                    <div class="border focus-within:border-blue-500 focus-within:text-blue-500 transition-all duration-500 relative rounded p-1">
                                        <div class="-mt-4 absolute tracking-wider px-1 uppercase text-xs">
                                            <p>
                                                <label for="barber" class="bg-white text-gray-600 px-1">Date *</label>
                                            </p>
                                        </div>
                                        <p>
                                            <input id="date" name="date" th:field="*{bookedDate}" autocomplete="false"
                                                   tabindex="0" type="date"
                                                   class="py-1 px-1 outline-none block h-full w-full">
                                        </p>
                                    </div>
                                    <div class="border focus-within:border-blue-500 focus-within:text-blue-500 transition-all duration-500 relative rounded p-1">
                                        <div class="-mt-4 absolute tracking-wider px-1 uppercase text-xs">
                                            <p>
                                                <label for="barber" class="bg-white text-gray-600 px-1">Time *</label>
                                            </p>
                                        </div>
                                        <p>
                                            <input id="time" name="time" th:field="*{bookedTime}" autocomplete="false"
                                                   tabindex="0" type="time"
                                                   class="py-1 px-1 outline-none block h-full w-full">
                                        </p>
                                    </div>

                                </div>
                                <div class="border-t mt-6 pt-3">
                                    <button class="rounded text-gray-100 px-3 py-1 bg-blue-500 hover:shadow-inner hover:bg-blue-700 transition-all duration-300">
                                        Send
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </form>
    </a>
</div>

<footer class="bg-gray-900">
    <div class="container max-w-6xl mx-auto flex items-center px-2 py-8">

        <div class="w-full mx-auto flex flex-wrap items-center">
            <div class="flex w-full md:w-1/2 justify-center md:justify-start text-white font-extrabold">
                <svg class="h-6 w-6 text-yellow-500" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                     stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M14 9V5a3 3 0 0 0-3-3l-4 9v11h11.28a2 2 0 0 0 2-1.7l1.38-9a2 2 0 0 0-2-2.3zM7 22H4a2 2 0 0 1-2-2v-7a2 2 0 0 1 2-2h3"/>
                </svg>
                <a class="text-gray-900 no-underline hover:text-gray-900 hover:no-underline" href="#">
                    <span class="text-base text-gray-200">Norian Barberia</span>
                </a>
            </div>
            <div class="flex w-full pt-2 content-center justify-between md:w-1/2 md:justify-end">
                <ul class="list-reset flex justify-center flex-1 md:flex-none items-center">
                    <li>
                        <a class="inline-block py-2 px-3 text-white no-underline" href="/">HOME</a>
                    </li>
                    <li>
                        <a class="inline-block text-gray-600 no-underline hover:text-gray-200 hover:underline py-2 px-3"
                           href="#introductions">INTRODUCTION</a>
                    </li>
                    <li>
                        <a class="inline-block text-gray-600 no-underline hover:text-gray-200 hover:underline py-2 px-3"
                           href="#barbers">BARBERS</a>
                    </li>
                    <li>
                        <a class="inline-block text-gray-600 no-underline hover:text-gray-200 hover:underline py-2 px-3"
                           href="#prices">PRICE</a>
                    </li>
                    <li>
                        <a class="inline-block text-gray-600 no-underline hover:text-gray-200 hover:underline py-2 px-3"
                           href="#bookings">BOOKING</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
<script src="https://webmaker.app/app/lib/transpilers/babel-polyfill.min.js"></script>
<script>

/* Progress bar */
//Source: https://alligator.io/js/progress-bar-javascript-css-variables/
var h = document.documentElement,
    b = document.body,
    st = "scrollTop",
    sh = "scrollHeight",
    progress = document.querySelector("#progress"),
    scroll;
var scrollpos = window.scrollY;
var header = document.getElementById("header");

document.addEventListener("scroll", function () {
  /*Refresh scroll % width*/
  scroll = (h[st] || b[st]) / ((h[sh] || b[sh]) - h.clientHeight) * 100;
  progress.style.setProperty("--scroll", scroll + "%");

  /*Apply classes for slide in bar*/
  scrollpos = window.scrollY;

  if (scrollpos > 100) {
    header.classList.remove("hidden");
    header.classList.remove("fadeOutUp");
    header.classList.add("slideInDown");
  } else {
    header.classList.remove("slideInDown");
    header.classList.add("fadeOutUp");
    header.classList.add("hidden");
  }
});



</script>
</body>
</html>
